$reg: 'Gotham Pro reg'
$bold: 'Gotham Pro bold'
$med: 'Gotham Pro med'
$black: 'Gotham Pro black'
$light: 'Gotham Pro light'

*
	margin: 0
	padding: 0
	box-sizing: border-box

a
	text-decoration: none

input:focus, textarea:focus, button:focus, a:focus
	outline: 0

ul
	list-style-type: none

body
	font-size: 16px
	font-family: $reg, Arial, sans-serif
	color: #fff

html
	font-size: 16px

html, body
	overflow-x: hidden

button
	cursor: pointer

textarea
	resize: none
	overflow-y: hidden

input,
textarea
	font-size: 1.12500em
	color: #fff
	font-family: $reg

.slick-slide:focus
	outline: 0

.slick-list .slick-track
	margin-left: 0

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
	font-size: 1.12500em
	color: #b9b9b9
	font-family: $reg
	letter-spacing: 0.025em

input::-moz-placeholder,
textarea::-moz-placeholder
	font-size: 1.12500em
	color: #b9b9b9
	font-family: $reg
	letter-spacing: 0.025em

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
	font-size: 1.12500em
	color: #b9b9b9
	font-family: $reg
	letter-spacing: 0.025em

input:-moz-placeholder,
textarea:-moz-placeholder
	font-size: 1.12500em
	color: #b9b9b9
	font-family: $reg
	letter-spacing: 0.025em

input[type="submit"]
	cursor: pointer
	font-family: $black
	letter-spacing: 0.05em
	font-size: 1.5em
	border: 0
	background-color: transparent
	border-bottom: 2px solid #fff

.container
	width: 100%
	padding-left: 5.9375rem
	padding-right: 5.9375rem
	height: 100%

.inline-flex
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex

.flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.ai-s
	align-items: stretch

.ai-c
	align-items: center

.ai-fs
	align-items: flex-start

.ai-b
	align-items: baseline

.ai-fe
	align-items: flex-end

.jc-sb
	justify-content: space-between

.jc-fe
	justify-content: flex-end

.jc-fs
	justify-content: flex-start

.jc-c
	justify-content: center

.fd-c
	flex-direction: column

.fw-w
	flex-wrap: wrap

.btn
	display: block

.section
	height: 100vh

.brief-photo
	input[type="submit"]
		position: absolute
		right: 0
		bottom: 0

.contacts
	&__content
		font-size: 1.5em
		letter-spacing: 0.025em
		margin-left: 5rem
	&__link
		padding-bottom: 0.5rem
		margin-top: 3.5rem
		color: #fff
		border-bottom: 2px solid #fff
		display: inline-block
		font-family: $bold
	&__table
		tr
			& > td
				a,
				span
					color: #fff
					padding: 1.25rem 0
					display: inline-block
				&:first-of-type
					span
						font-family: $bold
						margin-right: 4.0625rem
				&:last-of-type
					span,
					a
						font-family: $light
					a
						&:first-of-type
							&:before
								display: none
						&:before
							content: ' | '

	&__overlay
		left: 0
		top: 0
		bottom: 0
		height: 100%
		width: 28.95%
		background: rgba(#0d0d0d, .95)
		position: fixed
	&__section
		width: 100%
		position: relative
		z-index: 1
		padding: 0 15% 0 14.2%
	&__title
		letter-spacing: 0.075em
		font-size: 4.37500em
		font-family: $black

.blog-item
	.blog__slide-title
		margin-top: -0.5em
	&__text
		margin-top: 1.6rem
		height: 72%
		padding-right: 16px !important
		p
			font-size: 1.37500em
			line-height: 1.5
			letter-spacing: 0.01em
			font-family: $light
	&__content
		flex: 1
		margin-left: 7.3%
		position: relative
		height: 42.12500rem
	&__socials
		position: absolute
		left: 0
		bottom: 0
		li
			padding-right: 0.85rem
			margin-right: 0.85rem
			position: relative
			&:last-of-type
				padding-right: 0
				margin-right: 0
				&:after
					display: none
			&:after
				content: ''
				display: block
				width: 2px
				position: absolute
				height: 100%
				background-color: #fff
				right: 0
				top: 50%
				transform: translateY(-50%)
			a
				display: block
				font-family: $bold
				color: #fff
				font-size: 1.37500em
				letter-spacing: 0.01em
	&__wrapper
		padding: 0 15% 0 5%
		width: 100%
	&__img
		width: 50.8%
		img
			max-width: 100%
			display: block
			height: auto

.brief-video
	input[type="submit"]
		display: block
		margin: auto

.form-group
	input:not([type="submit"])
		border: 0
		background-color: transparent
		border-bottom: 1px solid #fff
	& > label
		font-size: 1.12500em
		color: #b9b9b9
		font-family: $reg
		letter-spacing: 0.025em
		transition: 0.2s all linear
		&.form-content__attention
			color: #3b3b3b
			font-size: 1em
			position: absolute
			left: 0
			top: 100%
			margin-top: 0.25rem
			line-height: 1.1
	&.active
		& > label:not(.form-content__attention):not(.form-group)
			opacity: 0

form label:not(.flex)
	display: block

.form-content
	&__title
		font-family: $bold
		font-size: 1.5em
		letter-spacing: 0.025em
		margin-bottom: 2rem
	&__left
		width: 26.25%
		position: relative
		&-top,
		&-bottom
			width: 100%
		&-bottom
			position: absolute
			left: 0
			bottom: 0
	&__right
		position: relative
		width: 67.5%

.brief-inner__form
	.form-content__left
		.form-group:not(.form-group--attention)
			width: 100%	

.brief-inner
	&__section
		width: 100%
		padding: 0 3.8%
	&__form
		.form-group
			&:not(.form-group--attention)
				width: 46.63%
			position: relative
			padding-bottom: 1rem
			margin-bottom: 3.3rem
			&.form-group--attention
				font-size: 100%
				margin-bottom: 0
			input:not([type="submit"])
				position: absolute
				width: 100%
				left: 0
				right: 0
				padding-bottom: 1rem
				bottom: 0

.photo
	position: relative
	.inner
		width: 100%
	&__nav
		width: 21%
		&-bg
			display: block
			position: fixed
			left: 0
			top: 0
			bottom: 0
			background: rgba(#0d0d0d, .88)
			width: 50%
			transition: 0.35s all ease-in
		&-img
			position: fixed
			right: 0
			bottom: 0
			top: 0
			background-position: center
			background-size: cover
			background-repeat: no-repeat
			left: 0
			width: 100%
		&-inner
			position: fixed
			background-color: #a10000
			display: -webkit-flex
			transition: 0.15s all linear
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: flex-start
			flex-direction: column
			justify-content: center
			top: 0
			height: 100%
			bottom: 0
			opacity: 0
			transform: translateX(-100%)
			z-index: -1
			& > li
				padding: 0 3.75rem
				&:after
					right: -3.75rem
		&-list
			& > li
				&:hover
					& > a
						color: #a80000
			li
				position: relative
				overflow: hidden
				width: 100%
				padding-right: 3.9rem
				&.no-line
					&:after
						display: none
				&:hover
					&:after
						opacity: 1
						transform: translateX(0%)
				&:after
					content: ''
					display: block
					opacity: 0
					transition: 0.15s all linear
					transform: translateX(100%)
					position: absolute
					right: 0
					top: 50%
					margin-top: -1px
					background-color: #fff
					height: 2px
					width: 3.75rem
				&.active
					.photo__nav-inner
						transform: translateX(0%)
						opacity: 1
						z-index: 1
			a
				display: block
				color: #fff
				padding: 0.5rem 0.5rem 0.5rem 0
				font-size: 1.12500em
				letter-spacing: 0.025em
				font-family: $med
	&__content
		position: relative
		width: 100%
	&__title
		font-size: 4.37500em
		letter-spacing: 0.075em
		font-family: $black
		position: absolute
		left: 50%
		top: 50%
		transition: 0.2s all ease-in
		transform: translate(-50%, -50%)

.video-item
	&__content
		position: relative
		padding-right: 12.5%
		width: 100%
	&__title
		position: absolute
		left: 0
		top: 0
		transform: rotate(-90deg) translateX(-100%)
		letter-spacing: 0.01em
		font-size: 1.62500em
		font-family: $med
		transform-origin: top left
	&__wrapper
		position: relative
		width: 96%
		padding-bottom: 54%
		margin-left: auto
		iframe
			position: absolute
			left: 0
			top: 0
			bottom: 0
			right: 0
			border: 0
			display: block
			width: 100%
			height: 100%

.video-item-page
	.inner
		padding-left: 9.2%

.main
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	.inner
		&:before,
		&:after
			content: ''
			display: block
			position: absolute
			top: 7%
			background-color: rgba(#fff, .4)
			width: 1px
		&:before
			height: 86%
			left: 0
		&:after
			height: 77%
			right: 0
	&__content
		width: 100%
		&-blocks
			width: 5rem
			bottom: 3%
			left: 3.2%
			position: absolute
		&-block
			width: 0.5rem
			margin-right: 0.5rem
			margin-bottom: 0.5rem
			display: block
			background-color: #666
			height: 0.5rem
		&-label
			position: absolute
			color: #8f8f90
			text-transform: uppercase
			letter-spacing: 0.025em
		&-info
			right: 0
			top: 50%
			transform: translate(18%, -50%)
			font-size: 1.62500em
		&-lens
			font-size: 2.4375em
			bottom: 3%
			right: 20.5%
			&.main__content-lens--text
				right: 0
				transform: translateX(16%)
		&-rect
			position: absolute
			background-color: #6d6e6f
			width: 0.6875rem
			height: 1.87500rem
			left: 0
			-webkit-transform: translateX(-50%)
			-moz-transform: translateX(-50%)
			-ms-transform: translateX(-50%)
			-o-transform: translateX(-50%)
			transform: translateX(-50%)
			top: 18.3%
	&__title
		text-transform: uppercase
		text-align: center
		font-family: $black
		letter-spacing: 0.075em
		font-size: 3.12500em
		word-spacing: 1rem
		max-width: 90%
		line-height: 1.3
		margin: auto
	.header:after,
	.footer:before
		content: ''
		display: block
		position: absolute
		left: 50%
		-webkit-transform: translateX(-50%)
		-moz-transform: translateX(-50%)
		-ms-transform: translateX(-50%)
		-o-transform: translateX(-50%)
		transform: translateX(-50%)
		width: 92%
		height: 1px
		background-color: rgba(#fff, .4)
	.header:after
		bottom: 0
	.footer:before
		top: 0

.header
	min-height: 12.3vh
	font-family: $bold
	position: relative
	z-index: 2
	a
		color: inherit
	&__brief
		font-size: 1.75em
		letter-spacing: 0.005em
	&__logo
		width: 11.0625rem
		height: auto
		display: block
		position: absolute
		left: 50%
		top: 50%
		-webkit-transform: translate(-50%, -50%)
		-moz-transform: translate(-50%, -50%)
		-ms-transform: translate(-50%, -50%)
		-o-transform: translate(-50%, -50%)
		transform: translate(-50%, -50%)
		img
			max-width: 100%
			display: block
			height: auto
			margin: auto
	&__hamburger
		display: none
		position: relative
		width: 20px
		height: 16px
		cursor: pointer
		&-line
			position: absolute
			left: 0
			right: 0
			top: 0
			height: 2px
			background-color: #fff
			&:before,
			&:after
				content: ''
				display: block
				position: absolute
				left: 0
				right: 0
				height: 2px
				background-color: #fff
			&:before
				top: 7px
			&:after
				top: 14px
	&__nav
		&-list
			li
				margin-right: 2.62500rem
				&:hover
					a
						&:after
							background-color: #800
				&:last-of-type
					margin-right: 0
				a
					transition: 0.15s all ease-in
					display: block
					position: relative
					font-size: 1.25em
					letter-spacing: 0.025em
					&:after
						content: ''
						display: block
						position: absolute
						bottom: -0.375rem
						left: 0
						right: 0
						height: 2px
						transition: 0.15s all ease-in
						background-color: transparent

.inner
	min-height: 78.4vh
	width: 98.2%
	margin: 0 auto
	position: relative
	padding: 2rem 0
	
#js-video-slider .slick-slide > div
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: stretch
	justify-content: flex-start

.blog
	&__slider
		padding-left: 12.4%
		.slick-slide
			margin-right: 2.25rem
		.slick-list
			margin-right: -2.25rem

	&__slide
		&-title
			font-family: $med
			letter-spacing: 0.01em
			font-size: 1.62500em
			line-height: 1.3
			color: #fff
			margin-top: 1.12500rem
			display: block
			font-weight: normal
		&-info
			letter-spacing: 0.01em
			font-family: $light
			font-size: 1.12500em
			& > span
				&:after
					content: ' |'
		
		&-link
			color: #fff
			font-family: $black
			text-align: center
			position: relative
			font-size: 0
			display: inline-block
			transition: 0.15s all linear
			transition-delay: 0.14s
			opacity: 0
			&:after
				content: ''
				display: block
				position: absolute
				left: 0
				right: 0
				bottom: -0.55rem
				height: 0.1875rem
				background-color: #fff
		&-overlay
			position: absolute
			left: 0
			transition: 0.25s all linear
			top: 0
			z-index: -1
			transform: scale(0.1) rotate(-90deg)
			bottom: 0
			right: 0
			background-color: rgba(#a80000, .94)
		&-img
			position: relative
			max-width: 420px
			&:hover
				.blog__slide-overlay
					transform: scale(1) rotate(0deg)
					opacity: 1
					z-index: 1
				.blog__slide-link
					opacity: 1
					font-size: 2.5em
					letter-spacing: 0.05em
			& > img
				display: block
				margin: auto
				max-width: 100%
				height: auto

.photo-items
	.slick-slide
		& > div
			display: flex
			align-items: flex-start
			justify-content: flex-start
			margin-right: -1.87500rem	
			margin-bottom: 1.87500rem
	&__controls
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
	&__slider
		margin-bottom: -1.87500rem
	&__dots
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: flex-start
		li
			height: 2px
			margin: 0.3125rem 0
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
			&.slick-active
				& > button
					transform: translateX(-100%)
			& > button
				font-size: 0
				background-color: #fff
				height: 2px
				width: 1.87500rem
				transition: 0.2s all linear
				border: 0
	&__content
		position: relative
		width: 100%
		padding: 0 5.3%
	&__slide
		max-width: 22.5625rem
		width: 23.52% !important
		margin-right: 1.87500rem
		&:hover
			.photo-items__overlay
				transform: scale(1) rotate(0deg)
				opacity: 1
				z-index: 1
			.photo-items__link
				opacity: 1
				font-size: 2.5em
				letter-spacing: 0.05em
	&__link
		color: #fff
		font-family: $black
		text-align: center
		position: relative
		font-size: 0
		display: inline-block
		transition: 0.15s all linear
		transition-delay: 0.14s
		opacity: 0
		&:after
			content: ''
			display: block
			position: absolute
			left: 0
			right: 0
			bottom: -0.55rem
			height: 0.1875rem
			background-color: #fff
	&__overlay
		position: absolute
		left: 0
		transition: 0.25s all linear
		top: 0
		z-index: -1
		transform: scale(0.1) rotate(-90deg)
		bottom: 0
		right: 0
		background-color: rgba(#a80000, .94)
	&__img
		position: relative
		& > img
			display: block
			margin: auto
			max-width: 100%
			height: auto

.brief
	&__section
		width: 100%
	&__link
		color: #fff
		position: relative
		z-index: 1
		&-wrapper
			width: 50%
			text-align: center
			&:hover
				.brief__link-overlay
					background-color: #a80000
			&:first-child
				.brief__link-overlay
					left: 0
			&:last-child
				.brief__link-overlay
					right: 0
		&-overlay
			width: 50%
			top: 0
			bottom: 0
			height: 100%
			background: rgba(#0d0d0d, .88)
			position: fixed
			transition: 0.2s all linear
		&-title
			font-family: $black
			font-size: 3.75em
			letter-spacing: 0.05em
		&-descr
			font-family: $med
			letter-spacing: 0.025em
			font-size: 1.25em
			display: block
			margin-top: 0.35rem

.video
	.inner
		padding-left: 15%
	&__scroll
		position: absolute
		right: 0
		top: 45%
		color: #fff
		cursor: pointer
		display: block
		z-index: 1
		transform: translateY(-50%)
		&:after
			content: ''
			display: inline-block
			vertical-align: middle
			margin-left: 0.875rem
			height: 2px
			width: 6.12500rem
			background-color: #fff
	&__content
		width: 81.6%
		margin-bottom: -1.5rem
		&-item
			width: 48.84% !important
			margin-bottom: 1.5rem
			margin-right: 2.32%
			max-width: 586px
			&:nth-child(2n)
				margin-right: 0
			&-title
				color: #fff
				font-family: $med
				font-size: 1.5em
				letter-spacing: 0.01em
				display: block
				margin-top: 0.5rem
				line-height: 1.3
				b
					text-transform: uppercase
					font-weight: normal
			&:hover
				.video__content-item-overlay
					transform: scale(1) rotate(0deg)
					opacity: 1
					z-index: 1
				.video__content-item-link
					opacity: 1
					font-size: 2.5em
					letter-spacing: 0.05em
			&-link
				color: #fff
				font-family: $black
				text-align: center
				position: relative
				font-size: 0
				display: inline-block
				transition: 0.15s all linear
				transition-delay: 0.14s
				opacity: 0
				&:after
					content: ''
					display: block
					position: absolute
					left: 0
					right: 0
					bottom: -0.55rem
					height: 0.1875rem
					background-color: #fff
			&-overlay
				position: absolute
				left: 0
				transition: 0.25s all linear
				top: 0
				z-index: -1
				transform: scale(0.1) rotate(-90deg)
				bottom: 0
				right: 0
				background-color: rgba(#a80000, .94)
			&-img
				position: relative
				& > img
					display: block
					margin: auto
					max-width: 100%
					height: auto


.photo-item
	&__slide
		img
			max-width: 100%
			height: auto
			display: block
			margin-left: auto
		

.footer
	min-height: 9.3vh
	position: relative
	padding-top: 1.5rem
	font-size: 1.12500em
	letter-spacing: 0.025em
	z-index: 2
	&__breadcrumbs
		position: relative
		&:after
			content: ''
			display: block
			position: absolute
			right: 0
			bottom: 0
			width: 10.37500rem
			height: 2px
			background-color: #fff
		&-num
			display: block
			font-family: $med
			padding-bottom: 0.4375rem
	&__nav
		&-list
			li
				margin-right: 2.75rem
				&:hover
					a
						&:after
							background-color: #800
				&:last-of-type
					margin-right: 0
			a
				color: inherit
				font-family: $bold
				display: block
				position: relative
				&:after
					content: ''
					display: block
					position: absolute
					bottom: -0.375rem
					left: 0
					right: 0
					height: 2px
					transition: 0.15s all ease-in
					background-color: transparent


@media screen and (max-width: 1750px)
	html, body
		font-size: 15px
	


@media screen and (max-width: 1550px)
	html, body
		font-size: 14px
	.main__content-lens
		font-size: 2em
	.video-item__content
		padding-right: 15%
	.photo__title
		font-size: 3.9em
	.blog__slider
		padding-left: 8%
	.blog__slide-title
		font-size: 1.5em
	.blog-item__wrapper
		padding-left: 0
	.contacts__section
		padding: 0 10%

@media screen and (max-width: 1470px)
	.photo__nav
		width: 24%


@media screen and (max-width: 1325px)
	html, body
		font-size: 13px
	.video-item__content
		padding-right: 18%
	.photo__title
		font-size: 3.5em


@media screen and (max-width: 1199px)
	html, body
		font-size: 12px
	.container
		padding-left: 5.1rem
		padding-right: 5.1rem
	.photo__title
		font-size: 2.8em
	.main__title
		font-size: 2.9em
	.main__content-lens
		font-size: 1.8em
	.video__scroll:after
		width: 4rem
	.photo-items__content
		padding-left: 2%
		padding-right: 6.5%
	.blog__slider
		padding-left: 5%
	.blog__slide-title
		font-size: 1.4em
	.blog-item__img
		width: 45%
	.blog-item__content
		height: 34rem
	.blog-item__content
		margin-left: 5%
	.contacts__section
		padding: 0 7%



@media screen and (max-width: 991px)
	html, body
		font-size: 11px
	.contacts__section
		padding: 0
	.contacts__title
		font-size: 3.8em
	.form-group > label.form-content__attention
		font-size: .9em
	.blog-item__img
		width: 40%
	.blog-item__content
		height: 32rem
	.blog-item__content
		margin-left: 3.5%
	.blog__slider
		padding-left: 0%
	.form-group > label,
	input, textarea
		font-size: 1em
	.brief-inner__section
		padding: 0
	.container
		padding-left: 4.3rem
		padding-right: 4.3rem
	.main__title
		font-size: 2.7em
	.main__content-lens
		font-size: 1.6em
	.header__brief
		font-size: 1.6em
	.video .inner
		padding-left: 12%
	.video-item-page .inner
		padding-left: 0

@media screen and (max-width: 900px)
	.photo-items__slide
		width: 31% !important
	.photo-items__content
		padding-left: 0%
		padding-right: 7%
	.photo-items__dots li > button
		width: 1.6rem

@media screen and (max-width: 767px)
	html, body
		font-size: 10px
	.blog-item__wrapper
		flex-direction: column
	.contacts__title
		font-size: 2.7em
	.blog-item .blog__slide-title
		margin-top: 0
	.blog-item__content
		margin-top: 2rem
		margin-left: 0
	.blog-item__img
		width: 60%
	.video__content-item
		width: 100% !important
		margin-right: 0
	.photo__title
		font-size: 2.3em
	.video-item__title
		position: initial
		transform: none
		margin-bottom: 1rem
	.video-item__wrapper
		width: 100%
		padding-bottom: 56.25%
	.video .inner
		padding-left: 20%
		padding-right: 20%
	.video__content
		width: 100%
	#js-video-slider .slick-slide > div
		flex-wrap: wrap
	.header__nav-list li a
		font-size: 1.1em
	.header__nav-list li
		margin-right: 2.2rem
	.container
		padding-left: 3.5rem
		padding-right: 3.5rem
	.main__title
		font-size: 2.3em
	.header__brief
		font-size: 1.45em
	.main__content-lens
		font-size: 1.35em

@media screen and (max-width: 700px)
	.brief-photo
		.form-content
			flex-wrap: wrap
		.form-content__wrapper
			flex-wrap: wrap
			flex-direction: row
			justify-content: space-between
			align-items: flex-start
		.form-content__left-bottom
			position: initial
		.form-content__left
			width: 100%
			margin-bottom: 3.3rem
		.form-content__right
			width: 100%
		.brief-inner__form .form-content__left .form-group:not(.form-group--attention)
			width: 46.63%


@media screen and (max-width: 650px)
	.photo-items__slide
		width: 48% !important
	.photo-items__content
		padding-right: 10%

@media screen and (max-width: 630px)
	.photo__nav
		width: 26%


@media screen and (max-width: 600px)
	.video .inner
		padding-left: 0%
		padding-right: 25%
	.contacts__section
		flex-direction: column
	.contacts__content
		margin-left: 0
		margin-top: 3rem

@media screen and (max-width: 570px)
	.header__hamburger
		display: block
	.header__nav
		display: none

@media screen and (max-width: 550px)
	.brief-inner__form .form-group,
	.brief-inner__form .form-group:not(.form-group--attention),
	.brief-photo .brief-inner__form .form-content__left .form-group:not(.form-group--attention)
		width: 100%
	.brief-photo input[type="submit"]
		position: initial
		display: block
		margin-left: auto
	.blog-item__img
		width: 80%


@media screen and (max-width: 530px)
	.video__scroll
		position: initial
	.photo__nav
		width: 32%
	.video .inner
		padding-right: 0
	.blog-item__wrapper
		padding-right: 0
	.video .inner,
	.video-item-page .inner,
	.photo-item-page .inner,
	.blog .inner,
	.blog-item .inner
		flex-direction: column
		justify-content: center
		align-items: flex-start
	.video-item-page .video__scroll,
	.video .video__scroll,
	.photo-item-page .video__scroll,
	.blog .video__scroll,
	.blog-item .video__scroll
		margin: 2.5rem 0 0
		transform: none
	.video-item__content
		padding-right: 0

@media screen and (max-width: 450px)
	.container
		padding-left: 2.5rem
		padding-right: 2.5rem
	.main__title
		max-width: 70%
	.main__content-info
		font-size: 1.3em
	.photo__title
		right: 0
		left: auto
	.photo-items__slide
		width: 100% !important
	.photo-items__content
		padding-right: 14%
	.photo-items .slick-slide > div
		justify-content: center
	.brief__link-title
		font-size: 2.5em

@media screen and (max-width: 430px)
	.photo__nav
		width: 36%
	.photo__nav-list li:after
		width: 1.5rem
	.photo__nav-list li
		padding-right: 1.7rem
	.contacts__content
		font-size: 1.2em
